/* --------- Layout Utama --------- */
#admin {
  display: flex;
  height: 100vh;
  background: #FFFFFF;
}

/* --------- Sidebar --------- */
.admin-sidebar-navbar {
  display: flex;
  flex-direction: column;
  width: 21%;
  padding: 40px 0;
  background: var(--warna-primer);
}

.admin-logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-right: 55px;
}

.admin-logo img {
  width: 150px;
}

.admin-sidebar-navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 45px;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.admin-sidebar-navbar ul li {
  width: 100%;
  position: relative;
}

.admin-sidebar-navbar ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 25px 0 25px 30px;
  transition: background 0.3s, color 0.3s;
  z-index: 1;
  position: relative;
  background: none;
}

.admin-sidebar-navbar ul li a svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  fill: currentColor;
  transition: color 0.3s;
}

.admin-sidebar-navbar ul li a h3 {
  font-weight: 500;
  transition: color 0.3s;
  color: inherit;
}

.admin-sidebar-navbar ul li.active {
  position: relative;
  z-index: 1;
}

.admin-sidebar-navbar ul li.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #FFFFFF;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 0;
  animation: slideInBackground 0.4s ease forwards;
}

.admin-sidebar-navbar ul li.active a {
  color: var(--warna-sekunder);
  z-index: 1;
}

.admin-sidebar-navbar ul li.active a svg {
  color: var(--warna-sekunder);
  fill: currentColor;
}

@keyframes slideInBackground {
  0% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

/* --------- Konten di Samping Sidebar --------- */
.admin-wrapper-core {
  flex: 1; /* Ini akan membuatnya mengisi sisa ruang secara otomatis */
  display: flex;
  flex-direction: column;
}

.admin-core-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* ------- Logout ------- */

#logout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.logout-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-title h1 {
  font-size: 75px;
  font-weight: 800;
  background: linear-gradient(to bottom right, var(--warna-sekunder), var(--warna-primer));
  background-clip: text;
  color: transparent;
  animation: fadeInDown 0.7s ease-in-out;
}

.logout-title h3 {
  font-size: 27px;
  font-weight: 500;
  color: #D1D2D3;
  animation: fadeInDown 0.7s ease-in-out;
}

#logout button {
  font-size: 20px;
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom right, var(--warna-sekunder), var(--warna-primer));
  color: #FFFFFF;
  transition: 0.3s;
  animation: fadeInUp 0.7s ease-in-out;
}

#logout button:hover {
  transform: scale(1.1);
}