#pendaftaran-pasien {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--warna-tersier);
}

.pendaftaran-pasien-header {
    width: 100%;
    padding: 30px;
}

.pendaftaran-pasien-header h5 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 100px;
    background: linear-gradient(to bottom right, var(--warna-primer-gradient), var(--warna-primer));
    cursor: pointer;
    transition: 0.3s;
}

.pendaftaran-pasien-header h5:hover {
    transform: scale(1.1);
}

.pendaftaran-pasien-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.pendaftaran-pasien-container img {
    width: 250px;
}

.pendaftaran-pasien-container h1 {
    font-size: 70px;
    color: var(--warna-primer);
    font-weight: 600;
    margin: 40px 0;
}

.pendaftaran-pasien-col {
    margin-top: 30px;
    width: 60%;
    height: fit-content;
    gap: 7px;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;   
}

.pendaftaran-pasien-col label, .pendaftaran-pasien-jenis-kelamin p {
    color: var(--warna-tersier);
    font-weight: 500;
    font-size: 17px;
}

#namaLengkap, #nik, #noHandphone, #poli {
    height: 40px;
    border: solid 1px #D1D2D3;
    border-radius: 5px;
    padding: 0 15px;
    color: var(--warna-primer);
    font-weight: 500;
}

.jenis-kelamin-gender-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.gender-option-radio {
  accent-color: var(--warna-primer); 
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.gender-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.jenis-kelamin-gender-container span {
    font-size: 15px;
    color: var(--warna-tersier);
    font-weight: 500;
}

.label-tanggal {
  font-size: 17px;
  font-weight: bold;
  color: #D1D2D3;
  display: block;
  font-family: 'DM Sans', sans-serif;
}

.tanggal-input-wrapper {
  position: relative;
  width: fit-content;
}

.input-tanggal {
  padding: 20px 15px 20px 15px;
  font-size: 15px;
  border: 1px solid #D1D2D3;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  color: #D1D2D3;
  background-color: #fff;
  outline: none;
  width: 155px;
  height: 40px;
}

/* Untuk menyembunyikan icon default dan ganti dengan custom (opsional) */
/* .input-tanggal::-webkit-calendar-picker-indicator {
  background: url('data:image/svg+xml,<svg fill="%23d5d5d5" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.89 2 1.99 2H19c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11zM7 11h5v5H7z"/></svg>') no-repeat;
  color: transparent;
  opacity: 1;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
} */

#alamat, #keluhan {
  padding: 15px;
  border: solid 1px #D1D2D3;
  border-radius: 5px;
  color: var(--warna-primer);
}

.pendaftaran-pasien-persetujuan {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pendaftaran-pasien-persetujuan-input {
  color: var(--warna-primer);
  border: solid 1px #D1D2D3;
  border-radius: 5px;
  zoom: 1.7;
  accent-color: var(--warna-primer);
}

.pendaftaran-pasien-persetujuan p {
  color: var(--warna-tersier);
  font-weight: 500;
  font-size: 17px;
}

.pendaftaran-pasien-tombol-daftar {
  margin-top: 50px;
}

.pendaftaran-pasien-tombol-daftar button {
  font-size: 23px;
  padding: 15px 0;
  background: linear-gradient(
      to bottom right,
      var(--warna-sekunder-gradient),
      var(--warna-sekunder)
  );
  border: none;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  color: var(--warna-tersier);
  cursor: pointer;
  transition: all 0.3s ease;
  animation: fadeInUp 0.3s ease-in-out;
}

.pendaftaran-pasien-tombol-daftar button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.70);
}